{% extends 'base.html.twig' %}

{% block title %}Se connecter à X / X
{% endblock %}

{% block body %}
	<div class="min-h-screen flex items-center justify-center bg-[#000000]">
		<div class="bg-[#000000] rounded-lg shadow-md w-full max-w-md p-8">
			<h1 class="text-2xl text-white font-bold text-center mb-6">Connexion</h1>

			{% if error %}
				<div class="mb-2 rounded-lg border border-red-500/40 bg-red-500/10 p-3 text-red-300 text-sm mb-3">
					{% if error.messageKey == 'Invalid credentials.' %}
						Adresse e-mail ou mot de passe incorrect.
					{% else %}
						{{ error.messageKey|trans(error.messageData, 'security') }}
					{% endif %}
				</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-4 px-4 py-3 rounded border border-emerald-500/20 bg-emerald-500/10 text-emerald-300 text-center">
					Connecté en tant que
					<span class="font-semibold">{{ app.user.userIdentifier }}</span>,
					<a href="{{ path('app_logout') }}" class="text-[#1d9bf0] underline hover:text-[#52afff]">Déconnexion</a>
				</div>
			{% endif %}

			<form
				method="post" class="space-y-4">
				{# --- Email --- #}
				<div class="relative">
					<input type="email" id="username" name="_username" value="{{ last_username }}" placeholder=" " autocomplete="email" autofocus class="peer w-full h-12 bg-transparent text-white placeholder-transparent border border-[#2f3336] rounded-lg px-4 pt-4  focus:outline-none focus:border-[#1d9bf0] focus:ring-1 focus:ring-[#1d9bf0] transition"/>
					<label for="username" class="pointer-events-none select-none absolute left-4 top-1 text-xs text-[#71767b] transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-sm peer-focus:top-1 peer-focus:text-xs peer-focus:text-[#1d9bf0]">
						Email
					</label>

				</div>

				{# --- Mot de passe --- #}
				<div class="relative">
					<input type="password" id="password" name="_password" placeholder=" " autocomplete="current-password" class="peer w-full h-12 bg-transparent text-white placeholder-transparent border border-[#2f3336] rounded-lg px-4 pt-4  focus:outline-none focus:border-[#1d9bf0] focus:ring-1 focus:ring-[#1d9bf0] transition"/>
					<label for="password" class="pointer-events-none select-none absolute left-4 top-1 text-xs text-[#71767b] transition-all peer-placeholder-shown:top-3 peer-placeholder-shown:text-sm  peer-focus:top-1 peer-focus:text-xs peer-focus:text-[#1d9bf0]">
						Mot de passe
					</label>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button type="submit" class="cursor-pointer w-full h-12 mt-2 rounded-full bg-[#e7e9ea] text-[#0f1419] font-semibold hover:bg-[#cfd3d7] disabled:opacity-40 disabled:cursor-not-allowed transition">
					Se connecter
				</button>
			</form>

			<p class="text-center mt-4 text-sm text-[#cfd3d7]">
				Pas de compte ?
				<a href="{{ path('app_register') }}" class="text-[#1d9bf0] underline hover:text-[#52afff]">Créer un compte</a>
			</p>
		</div>
	</div>
{% endblock %}
