{% extends 'base.html.twig' %}

{% block title %}Accueil / X
{% endblock %}

{% block body %}
	<div class="min-h-screen min-w-full bg-main-color/40 py-8">
		<div
			class="max-w-3xl">

			{# --- Zone publication --- #}
			<div class="z-10 bg-main-color/20 p-5 backdrop-blur border-b border-gray-700">
				{% include 'tweet/_form.html.twig' with {'form': form} %}
			</div>

			{# --- Liste des tweets --- #}
			<div class="space-y-5">
				{% for tweet in tweets %}
					<a href="{{ path('app_tweet_show', {'id': tweet.id}) }}" class="text-gray-500">
						<div class="px-4 py-5 border-b border-gray-700 bg-[#000000] hover:bg-[#080808]">
							<div class="flex gap-3">
								{% if tweet.user and tweet.user.avatar %}
									<img src="{{ asset('uploads/avatars/' ~ tweet.user.avatar) }}" alt="Avatar" class="w-10 h-10 rounded-full">
								{% else %}
									<img src="https://as2.ftcdn.net/v2/jpg/03/59/58/91/1000_F_359589186_JDLl8dIWoBNf1iqEkHxhUeeOulx0wOC5.jpg" alt="Avatar" class="w-10 h-10 rounded-full">
								{% endif %}
								<div class="flex-1 w-full">
									<div class="flex justify-between items-center gap-2">
										<div class="text-sm text-white">
											<span class="font-bold">{{ tweet.user.username }}</span>
											•
											<span class="text-gray-400 text-xs">
												{{ tweet.dateTweet ? tweet.dateTweet| date("d/m/y H:i") : "" }}
											</span>
										</div>
										<div class="flex flex-row gap-4">
											{% if app.user and tweet.user == app.user %}
												{{ include('tweet/_delete_form.html.twig') }}
											{% endif %}
										</div>
									</div>
									<div class="mt-1 text-[15px] text-gray-100 break-all overflow-hidden">
										{{ tweet.content }}
									</div>
									<div class="flex justify-between items-center gap-4 py-4">
										<div class="group flex justify-center items-center gap-1 cursor-pointer transition duration-200">
											<svg class="w-[24px] h-[24px] text-gray-400 transition group-hover:text-[#1988d3] group-hover:drop-shadow-[0_0_6px_#1988d3]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17h6l3 3v-3h2V9h-2M4 4h11v8H9l-3 3v-3H4V4Z"/>
											</svg>
											<span class="text-gray-500 transition group-hover:text-[#1988d3] group-hover:drop-shadow-[0_0_6px_#1988d3]">
												{{ tweet.commentaires|length }}
											</span>
										</div>
										<div class="group flex justify-center items-center cursor-pointer transition duration-200">
											<svg class="w-6 h-6 text-gray-500 group-hover:text-[#00ba7c] group-hover:drop-shadow-[0_0_6px_#00ba7c] transition duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3"/>
											</svg>
											<p class="text-gray-500 ml-1 transition group-hover:text-[#00ba7c] group-hover:drop-shadow-[0_0_6px_#00ba7c]">
												0
											</p>
										</div>
										<form action="{{ path('app_tweet_like', {'id': tweet.id}) }}" method="post" style="display:inline;">
											<button type="submit" class="group flex cursor-pointer items-center text-gray-400 transition duration-200 hover:text-pink-300">
												{% if tweet.isLikedBy(app.user) %}
													<svg class="w-6 h-6 text-[#c81267] transition group-hover:drop-shadow-[0_0_6px_#c81267]" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 24 24">
														<path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
													</svg>
												{% else %}
													<svg class="w-6 h-6 text-gray-400 group-hover:text-[#c81267] group-hover:drop-shadow-[0_0_6px_#c81267] transition duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24">
														<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
													</svg>
												{% endif %}
												<span class="transition {{ tweet.isLikedBy(app.user) ? 'text-[#c81267]' : 'group-hover:text-[#c81267]' }}">
													{{ tweet.likes|length }}
												</span>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</a>
				{% else %}
					<p class="text-center text-gray-400">Aucun tweet pour l'instant.</p>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
