{% extends 'base.html.twig' %}

{% block title %}Tweet index{% endblock %}

{% block body %}
    <h1>Tweet index</h1>
    

    <h2>Publier un nouveau tweet</h2>

{% include 'tweet/_form.html.twig' with {'form': form} %}


    <h2>Liste des tweets</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>DateTweet</th>
                <th>Utilisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tweet in tweets %}
            <tr>
                <td>{{ tweet.id }}</td>
                <td>{{ tweet.content }}</td>
                <td>{{ tweet.dateTweet ? tweet.dateTweet|date('d/m/y') : '' }}</td>
                <td>{{ tweet.user.username }}</td>
                <td>
                    <a href="{{ path('app_tweet_show', {'id': tweet.id}) }}">show</a>
                    <a href="{{ path('app_tweet_edit', {'id': tweet.id}) }}">edit</a>
                    <form action="{{ path('app_tweet_like', {'id': tweet.id}) }}" method="post" style="display:inline;">
                    <button class="btn btn-sm btn-outline-danger">
                    ❤️ {{ tweet.likes|length }}
        </button>
    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tweet_new') }}">Create new</a>
{% endblock %}
