{% extends 'base.html.twig' %}

{% block title %}
	{{ app.user.username }}
	sur X:
																																					"{{ tweet.content }}"
{% endblock %}

{% block body %}
	<div class="flex justify-start items-center border-b border-gray-700">
		<a class="flex items-center gap-4 border border-blue-500 text-white px-5 py-2 ml-4 mb-4 rounded-full font-semibold cursor-pointer hover:bg-blue-500 transition" href="{{ path('app_tweet_index') }}">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#ffffff" class="bi bi-arrow-left" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
			</svg>
			<p>Retour</p>
		</a>
	</div>

	<div class="px-4 py-5 border-b border-gray-700 bg-[#000000]">
		<div class="flex gap-3">
			{% if tweet.user and tweet.user.avatar %}
				<img src="{{ asset('uploads/avatars/' ~ tweet.user.avatar) }}" alt="Avatar" class="w-10 h-10 rounded-full object-cover">
			{% else %}
				<img src="https://as2.ftcdn.net/v2/jpg/03/59/58/91/1000_F_359589186_JDLl8dIWoBNf1iqEkHxhUeeOulx0wOC5.jpg" alt="Avatar" class="w-10 h-10 rounded-full object-cover">
			{% endif %}
			<div class="flex-1">
				<div class="flex justify-between items-center gap-2">
					<div class="text-sm">
						<span class="font-bold text-white">{{ app.user.username }}</span>
						<span class="text-gray-400 text-xs">
							•
							{{ tweet.dateTweet ? tweet.dateTweet|date('d/m/y') : '' }}
						</span>
					</div>
					<div class="flex flex-row gap-4">
						{% if app.user and tweet.user == app.user %}
							<a href="{{ path('app_tweet_edit', {'id': tweet.id}) }}" class="text-gray-500 hover:underline">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewbox="0 0 16 16">
									<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
								</svg>
							</a>
							{{ include('tweet/_delete_form.html.twig') }}
						{% endif %}
					</div>
				</div>
				<div class="mt-1 text-[15px] text-gray-100">
					{{ tweet.content }}
				</div>
				<div class="flex justify-between items-center gap-4 border-y border-gray-700 py-2 mt-6">
					<div class="group flex justify-center items-center gap-1 cursor-pointer transition duration-200">
						<svg class="w-[24px] h-[24px] text-gray-400 transition group-hover:text-[#1988d3] group-hover:drop-shadow-[0_0_6px_#1988d3]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 17h6l3 3v-3h2V9h-2M4 4h11v8H9l-3 3v-3H4V4Z"/>
						</svg>
						<span class="text-gray-500 transition group-hover:text-[#1988d3] group-hover:drop-shadow-[0_0_6px_#1988d3]">
							{{ tweet.commentaires|length }}
						</span>
					</div>
					<div class="group flex justify-center items-center cursor-pointer transition duration-200">
						<svg class="w-6 h-6 text-gray-500 group-hover:text-[#00ba7c] group-hover:drop-shadow-[0_0_6px_#00ba7c] transition duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 10 3-3m0 0-3-3m3 3H5v3m3 4-3 3m0 0 3 3m-3-3h14v-3"/>
						</svg>
						<p class="text-gray-500 ml-1 transition group-hover:text-[#00ba7c] group-hover:drop-shadow-[0_0_6px_#00ba7c]">
							0
						</p>
					</div>
					<form action="{{ path('app_tweet_like', {'id': tweet.id}) }}" method="post" style="display:inline;">
						<button type="submit" class="group flex cursor-pointer items-center text-gray-400 transition duration-200 hover:text-pink-300">
							{% if tweet.isLikedBy(app.user) %}
								<svg class="w-6 h-6 text-[#c81267] transition group-hover:drop-shadow-[0_0_6px_#c81267]" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewbox="0 0 24 24">
									<path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
								</svg>
							{% else %}
								<svg class="w-6 h-6 text-gray-400 group-hover:text-[#c81267] group-hover:drop-shadow-[0_0_6px_#c81267] transition duration-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
								</svg>
							{% endif %}
							<span class="transition {{ tweet.isLikedBy(app.user) ? 'text-[#c81267]' : 'group-hover:text-[#c81267]' }}">
								{{ tweet.likes|length }}
							</span>
						</button>
					</form>
				</div>
				<form class=" mt-3" action="{{ path('app_tweet_commentaire', {'id': tweet.id}) }}" method="post">
					<textarea class="text-white w-full min-h-[80px] focus:outline-none focus:ring-2 focus:ring-main-color resize-none p-3 border-b border-gray-400" name="content" rows="2" placeholder="Votre commentaire..." required></textarea>
					<div class="flex justify-end mt-2">
						<button type="submit" class="border border-blue-500 text-blue-400 px-4 py-1 rounded-full font-semibold cursor-pointer hover:bg-blue-500 hover:text-white transition">Commenter</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="text-white">

		{% for commentaire in tweet.commentaires %}
			<div class="p-5 border-b border-gray-700 flex gap-3">
				{% if commentaire.user and commentaire.user.avatar %}
					<img src="{{ asset('uploads/avatars/' ~ commentaire.user.avatar) }}" alt="Avatar" class="w-10 h-10 rounded-full object-cover">
				{% else %}
					<img src="https://as2.ftcdn.net/v2/jpg/03/59/58/91/1000_F_359589186_JDLl8dIWoBNf1iqEkHxhUeeOulx0wOC5.jpg" alt="Avatar" class="w-10 h-10 rounded-full object-cover">
				{% endif %}
				<div class="flex-1">
					<div class="flex justify-between items-center gap-2">
						<div class="text-sm">
							<span class="font-bold text-white">{{ commentaire.user.username }}</span>
							<span class="text-gray-400 text-xs">
								•
								{{ commentaire.dateComment ? commentaire.dateComment| date("d/m/y H:i") : "" }}
							</span>
						</div>
						<div class="flex flex-row gap-4">
							{% if app.user and tweet.user == app.user %}
								<a href="{{ path('app_tweet_edit', {'id': tweet.id}) }}" class="text-gray-500 hover:underline">
									<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil" viewbox="0 0 16 16">
										<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
									</svg>
								</a>
								{{ include('tweet/_delete_form.html.twig') }}
							{% endif %}
						</div>
					</div>
					<div class="mt-1 text-[15px] text-gray-100">
						{{ commentaire.content }}
					</div>
					<form action="{{ path('app_commentaire_like', {'id': commentaire.id}) }}" method="post" style="display:inline;">
						<button type="submit" class="group cursor-pointer flex items-center text-gray-400 transition">
							{% if commentaire.isLikedBy(app.user) %}
								<svg class="w-[24px] h-[24px] text-[#f91880] transition group-hover:drop-shadow-[0_0_6px_#f91880]"
									aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
									fill="currentColor" viewBox="0 0 24 24">
									<path d="m12.75 20.66 6.184-7.098c2.677-2.884 2.559-6.506.754-8.705-.898-1.095-2.206-1.816-3.72-1.855-1.293-.034-2.652.43-3.963 1.442-1.315-1.012-2.678-1.476-3.973-1.442-1.515.04-2.825.76-3.724 1.855-1.806 2.201-1.915 5.823.772 8.706l6.183 7.097c.19.216.46.34.743.34a.985.985 0 0 0 .743-.34Z"/>
								</svg>
							{% else %}
								<svg class="w-[24px] h-[24px] text-gray-400 transition group-hover:text-[#f91880] group-hover:drop-shadow-[0_0_6px_#f91880]"
									aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
										d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"/>
								</svg>
							{% endif %}
							<span class="ml-1 transition {{ commentaire.isLikedBy(app.user) ? 'text-[#f91880] group-hover:drop-shadow-[0_0_6px_#f91880]' : 'group-hover:text-[#f91880] group-hover:drop-shadow-[0_0_6px_#f91880]' }}">
								{{ commentaire.likes|length }}
							</span>
						</button>
					</form>
				</div>
			</div>
		{% endfor %}

	</div>
{% endblock %}
