{% extends 'base.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block body %}

<div>
 <h2>DASHBOARD ADMIN</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                {# <th>Role</th> #}
            </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                {# <td>{{ user.roles }}</td> #}
                <td>
                    <a href="{{ path('app_admin_show', {'id': user.id}) }}">Afficher</a>
                    <a href="{{ path('app_admin_delete', {'id': user.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'enregistrements</td>
            </tr>
        {% endfor %}<br>
        </tbody>
    </table>

    
</div>
{% endblock %}
